@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
        font-family: "Poppins", sans-serif;
}

* {
        margin: 0;
        padding: 0;
}

/* HEADER */

nav {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        justify-content: center;
        background-color: rgb(48, 48, 82);
}
header nav ul li a {color: rgb(255, 255, 255)!important;}
.navbar-brand {
        color: rgb(255, 255, 255);
        font-size: 40px;
        font-weight: bold;
        text-decoration: none;
}

main {
        color: rgb(255, 255, 255);
        background-color:  rgb(48, 48, 82);
        text-align: center;
        padding: 20px;
        background-image: url(../img/pokefondo.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment:scroll;
}

.hero {
        color: rgb(255, 255, 255);
        font-size: 30px;
        text-align: center;
        height: 20%;
        padding: 150px;
        background-image: url(../img/header.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
}

.eventos {
        font-size: larger;
        padding: 80x;
}

.eventos {
        width: 90%;
        height: 90%;
        margin: 10%;
        padding: 20px;
        margin: 30px;
}

.eventos img {
        width: 400px;
        height: 400px;
        margin: 20px;
}

.eventos a {
        text-decoration: none;
        color: rgb(255, 255, 255)
}

.grid { display: grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: 33% 33% 33%;
        row-gap: 20px;
        column-gap: 20px;
        }

.grid img {
        width: 100%;
        height: 100%;
        object-fit: cover;
}

.eventos1 h2 {
        color: rgb(255, 255, 255);
        font-size: 50px;
        text-align: center;
        padding: 20px;
}

.eventos1 div div img {
        width: 50%;
        height: 50%;
        margin: 20px;
}

.eventos1 div {
        font-size: 20px;
        width: 90%;
        height: 90%;
        padding: 20px;
        margin: 30px;
}

.eventos1 div div a {
        background-color:rgb(48, 48, 82);
        text-decoration:wavy;
        color: rgb(255, 255, 255)
}

.eventos1-container {
        display: flex;
        justify-content: center;
}



.noticias img {
        width: 400px;
        height: 400px;
        margin: 20px;
}



/*footer*/
footer {
        background-color: rgb(48, 48, 82);
}

footer p {
        color: white;
        text-align: center;
        padding: 10px;
}

footer a {
        color: white;
        text-decoration: none;
}